*{
	margin: 0;
	padding: 0;
}	
body,html{
	width: 100%;
    height: 100%;
    font-size:20px;
    /* font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif; */
    font-family: "fzzhengheis-r-gbregular";
}
body{
	position: relative;
	font-family:"Microsoft Yahei","kaiti";
}
@keyframes animatedBackground {
 	0% { background-position: center center; 
 	}

 	100% { background-position: center 100%;
 	}
}
@keyframes animatedBackground1 {
 	0% { background-position: center center; 
 	}

 	100% { background-position: center 200%;
 	}
}

.pages{
	height: 100%;
	width:100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	background:url(img/background.png) center center;
	background-size: 120%;
 	background-repeat: repeat;
	opacity: 0;
	-webkit-transition:all .5s;
    animation: animatedBackground1 5s linear infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.pageShow{
	opacity: 1;
	z-index: 10;
	display: flex;
	display: -webkit-flex;
	background-size: 120%;
}
.logo{
	position: fixed;
	width: 24.9%;
	height: 3.3%;
	top: 3%;
	left: 6%;
}
.homePage{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.homePage>.logoWrapper{
    margin-top: 20%;
    position: relative;

}
.logoWrapper:after{
    /* content:url(after.png); */
    content: ' ';
    position: absolute;
    right: -35px;
    top:4px;
    display: block;
    width: 27.5px;
    height: 241px;
    background-image: url('img/after.png');
    background-size: 100%;
    /* background: #000; */
}
.btn{
    width: 110px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    line-height: 25px;
    font-size:14px;
    font-weight: 300;
    display: inline-block;
}
.signBtn{
    background: rgb(55, 140, 255);
    color: #fff;
    border: 1px solid rgb(55, 140, 255);
}
/* signpage */
.whiteBG{
    width:11.25rem;
    height: 21.25rem;
    border: 1px solid rgba(197, 197, 197,0.8);
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 29px;

}
.signPage{
    text-align: left;
    justify-content: space-around;
    align-items: flex-start;
    display: none;    
    /* display: flex; */
    /* position: relative */
}
.signPage h1{
    font-size: 21px;
	color: rgb(118, 178, 253);
	line-height: 25px;
    font-weight: normal;
    font-weight: 300;
    text-align: left;
   
    /* margin-top: 11.88%; */
}

.nameWrapper,.phoneWrapper{
    margin-top: -15.58%;
    height: 28px;
    width: 100%;
    position: relative;
}
.nameWrapper input,.phoneWrapper input{
    height: 100%;
    width: 100%;
    font-size: 14px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px rgb(197, 197, 197) inset; */
    color:rgb(51, 51, 51);
    outline-style: none; 
    text-indent: 10px;
    letter-spacing: 1px;
}
.warm{
    display: block;
    font-size: 12px;
    text-indent: 10px;
    letter-spacing: 1px;
    color:  rgb(197, 197, 197);
}
.nameWrapper::before,.phoneWrapper::before{
    position: absolute;
    left: 0;
    top: -21px;
    color: rgb(102,104,106);
	font-size: 12px;
	text-indent: 5px;
	letter-spacing: 1px;
	line-height: 12px;
}
.nameWrapper::before{
    content: '* 姓名';    
}
.phoneWrapper::before{
    content: '* 手机号码';    
}
.btnWrapper{
    height: 25px;
    width: 100%;
    position: relative;
}
.signInBtn{
    background: rgb(118, 178, 253);
    width: 76px;
    color: #fff;
    border:1px solid rgb(118, 178, 253);
    float:left;
}
.cancelBtn{
    background: #fff;
    width: 76px;    
    color: rgb(128, 128, 128);
    border: 1px solid rgb(128, 128, 128);
    float:right;
    position: relative;
}
.signedPage {
    margin-top: 3rem;
    align-items: center;
    justify-content: space-around;
    z-index: 0;
    display: none;
    position: relative;
    padding-top: 2rem;
    /* padding-bottom: 10%; */
    height: 19.25rem;
}
.uploadWrapper {
    width: 76px;
    height: 38px;
    border: 3px solid rgb(236, 236, 236);
    /* border: 3  */
    border-radius:0 0 50% 50%/0 0 100% 100%;
    border-top:none;
    position: absolute;
    top:0;
    z-index: 1;
    left: 35%;
}
/* .uploadWrapper>.background {
    width: 100%;
    height: 44px;
    background: #fff;
    position: absolute;
    top: -6px;
    left: 0;
    border-radius: 0 0 38px 38px;
    z-index: 1;
} */
.uploadWrapper .avatar{
    position: absolute;
    z-index: 2;
    top: -38px;
    border-radius: 100%;
}
.uploadWrapper .cameraIcon {
    text-align: center;
    position: absolute;
    z-index: 3;
    top: -19px;
    left: 20px;
    width: 34px;
    height: 34px;

}
.uploadWrapper input{
    width:74px;
    height: 74px;
    position: absolute;
    top:-40px;
    left: 0;
    z-index: 4;
    opacity: 0;
}
.signedPage p{
    font-size: 21px;
    color: rgb(144, 152, 155);
    letter-spacing: 1px;
    line-height: 33px;
    text-align: center;
}
.signedPage p:nth-of-type(1){
    margin-top: 15%;
    line-height: 25px;    
}
.countInfo{
    font-size: 35px;
    color: rgb(118, 178, 253);
}
.signedPage .btnWrapper{
    height: 60px;
    width: 74px;
    /* line-height: 60px; */
    margin-bottom: 10%;
}
.reloadBtn{
    width: 100%;
    background: rgb(118, 178, 253);
    border: 1px solid rgb(118, 178, 253);
    color: #fff;
    
}
.giveUpBtn{
    width: 100%;
    background: #fff;
    border: 1px solid rgb(128,128,128);
    color: rgb(128, 128, 128);
    margin-top: 15px;
}
@media screen and (max-width: 320px) {
   html {
        font-size:17px;
    }
}